@keyframes myAni {
  0% {
    left: 0;
  }
  100% {
    left: 100%;
  }
}

#search_location {
  background-image: url("../photo/home-bckimg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  // width: 100vh;
  height: 100vh;
  position: relative;
  &::after {
    content: "";
    position: absolute;
    background-color: black;
    opacity: 0.5;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }
  z-index: 1;
  .boxes {
    text-align: center;
    z-index: 5;
    position: absolute;
    width: 70%;
    // border: 1px solid red;
    top: 50%;

    left: 50%;
    transform: translate(-50%, -50%);
    .h1p {
      h1 {
        font-size: 50px;
        color: #ffffff;
        font-weight: bold;
      }
      p {
        color: #ffffff;
        font-size: 20px;

        font-weight: bold;
      }
    }
    .formBox {
      margin: auto;
      background-color: #dde3e8;
      border-radius: 10px;
      width: 80%;
      padding: 15px;

      .firstInput {
        // display: block;
        position: relative;
        span {
          i {
            position: absolute;
            top: 53%;
            margin-left: 2%;
            font-size: 22px;
            transform: translateY(-53%);
            z-index: 5;
            color: #0dbcc0;
          }
        }
        input {
          width: 100%;
          padding: 10px 10px 10px 45px;
          height: 50%;
          border-radius: 10px;
          height: 55px;
          transform: translateX(-3px);
          border: none;
          outline: none;
          margin-top: 5px;
        }
      }

      .secondInput {
        position: relative;
        span {
          i {
            position: absolute;
            top: 52%;
            margin-left: 2%;
            font-size: 22px;
            transform: translateY(-52%);
            z-index: 5;
            color: #0dbcc0;
          }
        }
        input {
          width: 100%;
          padding: 10px 10px 10px 45px;
          border-radius: 10px;
          height: 55px;
          border: none;
          outline: none;
          margin-top: 5px;
        }
        .search {
          position: absolute;
          right: 5%;
          top: 55%;
          transform: translateY(-50%, -5%);
          background-color: #0dbcc0;
          padding: 10px;
          border-radius: 50%;
          color: #ffffff;
          font-size: 15px;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  #search_location {
    background-image: url("../photo/home-bckimg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    // width: 100vh;
    height: 100vh;
    position: relative;
    &::after {
      content: "";
      position: absolute;
      background-color: black;
      opacity: 0.5;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
    }
    z-index: 1;
    .boxes {
      text-align: center;
      z-index: 5;
      position: absolute;
      width: 70%;
      // border: 1px solid red;
      top: 50%;

      left: 50%;
      transform: translate(-50%, -50%);
      .h1p {
        h1 {
          font-size: 50px;
          color: #ffffff;
          font-weight: bold;
        }
        p {
          color: #ffffff;
          font-size: 20px;

          font-weight: bold;
        }
      }
      .formBox {
        margin: auto;
        background-color: #dde3e8;
        border-radius: 10px;
        width: 80%;
        padding: 15px;

        .firstInput {
          input {
            width: 100%;
            padding: 10px 10px 10px 45px;
            // height: 50%;
            border-radius: 10px;
            height: 55px;
            transform: translateX(-3px);
          }
        }

        .secondInput {
          span {
            i {
              position: absolute;
              top: 72%;
              margin-left: 2%;
              font-size: 22px;
              transform: translateY(-72%);
              z-index: 5;
              color: #0dbcc0;
            }
          }
          input {
            width: 100%;
            padding: 10px 10px 10px 45px;
            border-radius: 10px;
            height: 55px;
          }
        }

        .search {
          position: absolute;
          right: 19%;
          top: 55%;
          transform: translateY(-72%, -18%);
          background-color: #0dbcc0;
          padding: 10px;
          border-radius: 50%;
          color: #ffffff;
          font-size: 15px;
        }
      }
    }
  }
}
// search_location ended
// ==============================
//  doctor_categories starts

#doctor_categories {
  .boxes {
    text-align: center;
    .box {
      margin-top: 10%;

      h2 {
        font-size: 45px;
        color: #202647;
        font-family: "Poppins", sans-serif;
        font-weight: 600;
        margin-bottom: 20px;
      }
      p {
        width: 60%;
        margin: 0 auto;
      }
      .animation_line {
        margin: 20px auto;
        position: relative;
        width: 100px;
        background-color: #0fbcc0;
        height: 5px;
        border-radius: 5px;
        .whiteBox {
          position: absolute;
          background-color: white;
          width: 5px;
          height: 100%;
          animation: myAni 3s ease-in-out infinite;
        }
      }
    }
  }
  // .shape{
  //   border: 3px solid green;
  //   // width: 50%;
  //   position: relative;
  //   height: 100vh;
  //   img{
  //     height: 100%;
  //     border: 1px solid red;
  //     position: absolute;
  //     width: 100%;
  //     height: 100%;
  //   }
  // }
  .slider {
    margin: 30px auto;
    height: 20vh;
    border: 1px solid red;
    position: relative;
    top: 70%;
    .next,
    .prev {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      transition: 0.5s ease-in-out;

      i {
        display: none;
        font-size: 40px;
        background-color: #0dbcc0;
        color: white;
        border-radius: 50%;
        padding: 1px;
        transition: 0.3s ease-in-out;
        &:hover {
          background-color: white;
          color: #0dbcc0;
          border-radius: 50%;
          padding: 1px;
        }
      }
      &.next {
        right: 5px;
      }
      &.prev {
        left: 5px;
      }
    }
    &:hover {
      cursor: pointer;

      .next,
      .prev {
        i {
          display: block;
        }
      }
      .prev {
        left: -2px;
      }
      .next {
        right: -2px;
      }
    }
    .sliderCategory {
      display: flex;
      justify-content: center;
      height: 100%;
      width: 100%;
      position: absolute;
      // margin:auto ;
      .category {
        width: 17%;
        margin: 0 auto;
        text-align: center;

        i {
          font-size: 30px;
          background-color: white;
          border: 10px solid #9ad6fc;
          padding: 25px;
          border-radius: 50%;
          color: #0673b9;
          transition: 0.4s ease-in-out;
          &:hover {
            background-color: #0fbec2;
            color: white;
          }
        }
        h3 {
          padding-left: 30px;

          text-align: center;
          // margin-left:5px ;
          a {
            font-family: "Poppins", sans-serif;
            font-weight: 600;
            color: #202647;
            font-size: 20px;
            text-decoration: none;
          }
        }
      }
    }
  }
}
// doctor_categories ended
// ==============================
// certificate starts
#certificate {
  padding: 50px;
  .boxes {
    .imgBox {
      overflow: hidden;

      position: relative;
      height: 100vh;
      width: 50%;
      .girl {
        max-width: 100%;
        height: auto;
        position: absolute;
        bottom: 0;
        z-index: 9;
        border-radius: 10px;
      }
      .boy {
        right: 0;
        max-width: 100%;
        height: auto;
        position: absolute;
        border-radius: 10px;
        // width: 70%;
        z-index: 6;
      }
      .shapeBox {
        .shape1 {
          margin: 10% auto;
          max-width: 100%;
          height: auto;
          position: absolute;
          z-index: 3;
          animation: shape1Ani 3s linear infinite alternate;
        }
        .shape2 {
          // margin: 10% auto;
          position: absolute;
          max-width: 100%;
          height: auto;
          right: 0;
          bottom: 0;
          z-index: 3;
          animation: shape2Ani 3s linear infinite alternate;
        }
        @keyframes shape1Ani {
          0% {
            left: 10px;
          }
          100% {
            left: 30px;
          }
        }
        @keyframes shape2Ani {
          0% {
            top: 20%;
          }
          100% {
            top: 50%;
          }
        }
      }
    }
    .about-content {
      padding-left: 5%;
      margin-top: 30px;
      h3 {
        font-size: 35px;
        color: #202647;
        font-family: "Poppins", sans-serif;
        font-weight: 600;
      }
      .animation_line {
        margin: 20px 0;
        position: relative;
        width: 100px;
        background-color: #0fbcc0;
        height: 5px;
        border-radius: 5px;
        .whiteBox {
          position: absolute;
          background-color: white;
          width: 5px;
          height: 100%;
          animation: myAni 3s ease-in-out infinite;
        }
      }
      p {
        color: #6b6b84;
        font-weight: 400;
        font-family: "Roboto", sans-serif;
      }
      .ulli {
        ul {
          margin: 0;
          padding: 0;
          li {
            // margin-left: 0;
            list-style: none;
            font-size: 16px;
            color: #202647;
            font-weight: 500;
            &:hover {
              i {
                background-color: #0fbcc0;
                color: white;
              }
            }
            i {
              transition: 0.5s ease-in-out;
              background-color: #dafafc;
              color: #7bd6d9;
              padding: 10px;
              margin: 20px 10px 0 0;
              border-radius: 50%;
            }
          }
        }
      }
      a {
        text-decoration: none;
        background-color: #0fbcc0;
        padding: 18px 35px;
        border-radius: 10px;
        font-weight: 500;
        color: white;
        display: inline-block;
        margin-top: 30px;
        transition: 0.5s ease-in-out;
        &:hover {
          background-color: #0474b9;
        }
      }
    }
  }
}
@media (max-width: 991px) {
  #certificate {
    padding: 50px;
    .boxes {
      .imgBox {
        overflow: hidden;

        position: relative;
        height: 100vh;
        width: 100%;
        .girl {
          max-width: 100%;
          height: auto;
          position: absolute;
          bottom: 0;
          z-index: 9;
        }
        .boy {
          right: 0;
          max-width: 100%;
          height: auto;
          position: absolute;
          border-radius: 10px;
          // width: 70%;
          z-index: 6;
        }
        .shapeBox {
          .shape1 {
            top: -20%;
            margin: 10px auto;
            max-width: 100%;
            height: auto;
            position: absolute;
            z-index: 3;
            animation: shape1Ani 3s linear infinite alternate;
          }
          .shape2 {
            // margin: 10% auto;
            position: absolute;
            max-width: 100%;
            height: auto;
            right: 0;
            bottom: 0;
            z-index: 3;
            animation: shape2Ani 3s linear infinite alternate;
          }
          @keyframes shape1Ani {
            0% {
              left: 0;
            }
            100% {
              left: 85px;
            }
          }
          @keyframes shape2Ani {
            0% {
              top: 10%;
            }
            100% {
              top: 30%;
            }
          }
        }
      }
      .about-content {
        padding-left: 5%;
        margin-top: 30px;
        h3 {
          font-size: 35px;
          color: #202647;
          font-family: "Poppins", sans-serif;
          font-weight: 600;
        }
        .animation_line {
          margin: 20px 0;
          position: relative;
          width: 100px;
          background-color: #0fbcc0;
          height: 5px;
          border-radius: 5px;
          .whiteBox {
            position: absolute;
            background-color: white;
            width: 5px;
            height: 100%;
            animation: myAni 3s ease-in-out infinite;
          }
        }
        p {
          color: #6b6b84;
          font-weight: 400;
          font-family: "Roboto", sans-serif;
        }
        .ulli {
          ul {
            margin: 0;
            padding: 0;
            li {
              // margin-left: 0;
              list-style: none;
              font-size: 16px;
              color: #202647;
              font-weight: 500;
              &:hover {
                i {
                  background-color: #0fbcc0;
                  color: white;
                }
              }
              i {
                transition: 0.5s ease-in-out;
                background-color: #dafafc;
                color: #7bd6d9;
                padding: 10px;
                margin: 20px 10px 0 0;
                border-radius: 50%;
              }
            }
          }
        }
        a {
          text-decoration: none;
          background-color: #0fbcc0;
          padding: 18px 35px;
          border-radius: 10px;
          font-weight: 500;
          color: white;
          display: inline-block;
          margin-top: 30px;
          transition: 0.5s ease-in-out;
          &:hover {
            background-color: #0474b9;
          }
        }
      }
    }
  }
}
@media (max-width: 524px) {
  #certificate {
    padding: 50px;
    .boxes {
      .imgBox {
        overflow: hidden;

        position: relative;
        height: 100vh;
        width: 100%;
        .girl {
          left: 0;
          max-width: 70%;
          height: auto;
          position: absolute;
          bottom: 80px;
          border-radius: 10px;
          z-index: 9;
        }
        .boy {
          top: 0;
          right: 0;
          max-width: 70%;
          height: auto;
          position: absolute;
          border-radius: 10px;
          // width: 70%;
          z-index: 6;
        }
        .shapeBox {
          .shape1 {
            display: none;
          }
          .shape2 {
            // margin: 10% auto;
            display: none;
          }
          @keyframes shape1Ani {
            0% {
              left: 10px;
            }
            100% {
              left: 30px;
            }
          }
          @keyframes shape2Ani {
            0% {
              top: 20%;
            }
            100% {
              top: 50%;
            }
          }
        }
      }
      .about-content {
        padding-left: 5%;
        margin-top: 30px;
        h3 {
          font-size: 35px;
          color: #202647;
          font-family: "Poppins", sans-serif;
          font-weight: 600;
        }
        .animation_line {
          margin: 20px 0;
          position: relative;
          width: 100px;
          background-color: #0fbcc0;
          height: 5px;
          border-radius: 5px;
          .whiteBox {
            position: absolute;
            background-color: white;
            width: 5px;
            height: 100%;
            animation: myAni 3s ease-in-out infinite;
          }
        }
        p {
          color: #6b6b84;
          font-weight: 400;
          font-family: "Roboto", sans-serif;
        }
        .ulli {
          ul {
            margin: 0;
            padding: 0;
            li {
              // margin-left: 0;
              list-style: none;
              font-size: 16px;
              color: #202647;
              font-weight: 500;
              &:hover {
                i {
                  background-color: #0fbcc0;
                  color: white;
                }
              }
              i {
                transition: 0.5s ease-in-out;
                background-color: #dafafc;
                color: #7bd6d9;
                padding: 10px;
                margin: 20px 10px 0 0;
                border-radius: 50%;
              }
            }
          }
        }
        a {
          text-decoration: none;
          background-color: #0fbcc0;
          padding: 18px 35px;
          border-radius: 10px;
          font-weight: 500;
          color: white;
          display: inline-block;
          margin-top: 30px;
          transition: 0.5s ease-in-out;
          &:hover {
            background-color: #0474b9;
          }
        }
      }
    }
  }
}
// certificate ended
// ==========================
// details starts
#details {
  background-image: url(https://templates.envytheme.com/mediva/default/assets/img/doctor-bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 50%;
  padding: 30px;
  margin-top: 70px;
  .headSection {
    .section-title {
      display: inline-block;
      margin-top: 5%;
      width: 75%;
      .animation_line {
        margin: 20px 0;
        position: relative;
        width: 100px;
        background-color: #0fbcc0;
        height: 5px;
        border-radius: 5px;
        .whiteBox {
          position: absolute;
          background-color: white;
          width: 5px;
          height: 100%;
          animation: myAni 3s ease-in-out infinite;
        }
      }
      p {
        width: 750px;
        color: #6b6b84;
      }
      h3 {
        font-size: 45px;
        color: #202647;
        font-family: "Poppins", sans-serif;
        font-weight: 600;
      }
    }
    .aButton {
      margin-top: 50%;
      a {
        text-decoration: none;
        background-color: #0dbcc0;
        color: white;
        padding: 18px 35px;
        border-radius: 10px;
        font-weight: 500;
        transition: 0.5s ease-in-out;
        &:hover {
          background-color: #0673b9;
        }
      }
    }
  }
  .introduction {
    border: 1px solid red;
    // width: 33%;
    position: relative;
    .imgBox {
      position: absolute;
      width: 100%;
      height: 90%;
      // margin: auto;
      border: 1px solid black;
      a {
        img {
          // position: absolute;
          // width: 100%;
          border: 1px solid blue;
        }
      }
    }
  }
}
