@keyframes myAni {
  0% {
    left: 0;
  }
  100% {
    left: 100%;
  }
}
#search_location {
  background-image: url("../photo/home-bckimg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  position: relative;
  z-index: 1;
}
#search_location::after {
  content: "";
  position: absolute;
  background-color: black;
  opacity: 0.5;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
#search_location .boxes {
  text-align: center;
  z-index: 5;
  position: absolute;
  width: 70%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#search_location .boxes .h1p h1 {
  font-size: 50px;
  color: #ffffff;
  font-weight: bold;
}
#search_location .boxes .h1p p {
  color: #ffffff;
  font-size: 20px;
  font-weight: bold;
}
#search_location .boxes .formBox {
  margin: auto;
  background-color: #dde3e8;
  border-radius: 10px;
  width: 80%;
  padding: 15px;
}
#search_location .boxes .formBox .firstInput {
  position: relative;
}
#search_location .boxes .formBox .firstInput span i {
  position: absolute;
  top: 53%;
  margin-left: 2%;
  font-size: 22px;
  transform: translateY(-53%);
  z-index: 5;
  color: #0dbcc0;
}
#search_location .boxes .formBox .firstInput input {
  width: 100%;
  padding: 10px 10px 10px 45px;
  height: 50%;
  border-radius: 10px;
  height: 55px;
  transform: translateX(-3px);
  border: none;
  outline: none;
  margin-top: 5px;
}
#search_location .boxes .formBox .secondInput {
  position: relative;
}
#search_location .boxes .formBox .secondInput span i {
  position: absolute;
  top: 52%;
  margin-left: 2%;
  font-size: 22px;
  transform: translateY(-52%);
  z-index: 5;
  color: #0dbcc0;
}
#search_location .boxes .formBox .secondInput input {
  width: 100%;
  padding: 10px 10px 10px 45px;
  border-radius: 10px;
  height: 55px;
  border: none;
  outline: none;
  margin-top: 5px;
}
#search_location .boxes .formBox .secondInput .search {
  position: absolute;
  right: 5%;
  top: 55%;
  transform: translateY(-50%, -5%);
  background-color: #0dbcc0;
  padding: 10px;
  border-radius: 50%;
  color: #ffffff;
  font-size: 15px;
}

@media (max-width: 768px) {
  #search_location {
    background-image: url("../photo/home-bckimg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    position: relative;
    z-index: 1;
  }
  #search_location::after {
    content: "";
    position: absolute;
    background-color: black;
    opacity: 0.5;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }
  #search_location .boxes {
    text-align: center;
    z-index: 5;
    position: absolute;
    width: 70%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  #search_location .boxes .h1p h1 {
    font-size: 50px;
    color: #ffffff;
    font-weight: bold;
  }
  #search_location .boxes .h1p p {
    color: #ffffff;
    font-size: 20px;
    font-weight: bold;
  }
  #search_location .boxes .formBox {
    margin: auto;
    background-color: #dde3e8;
    border-radius: 10px;
    width: 80%;
    padding: 15px;
  }
  #search_location .boxes .formBox .firstInput input {
    width: 100%;
    padding: 10px 10px 10px 45px;
    border-radius: 10px;
    height: 55px;
    transform: translateX(-3px);
  }
  #search_location .boxes .formBox .secondInput span i {
    position: absolute;
    top: 72%;
    margin-left: 2%;
    font-size: 22px;
    transform: translateY(-72%);
    z-index: 5;
    color: #0dbcc0;
  }
  #search_location .boxes .formBox .secondInput input {
    width: 100%;
    padding: 10px 10px 10px 45px;
    border-radius: 10px;
    height: 55px;
  }
  #search_location .boxes .formBox .search {
    position: absolute;
    right: 19%;
    top: 55%;
    transform: translateY(-72%, -18%);
    background-color: #0dbcc0;
    padding: 10px;
    border-radius: 50%;
    color: #ffffff;
    font-size: 15px;
  }
}
#doctor_categories .boxes {
  text-align: center;
}
#doctor_categories .boxes .box {
  margin-top: 10%;
}
#doctor_categories .boxes .box h2 {
  font-size: 45px;
  color: #202647;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  margin-bottom: 20px;
}
#doctor_categories .boxes .box p {
  width: 60%;
  margin: 0 auto;
}
#doctor_categories .boxes .box .animation_line {
  margin: 20px auto;
  position: relative;
  width: 100px;
  background-color: #0fbcc0;
  height: 5px;
  border-radius: 5px;
}
#doctor_categories .boxes .box .animation_line .whiteBox {
  position: absolute;
  background-color: white;
  width: 5px;
  height: 100%;
  animation: myAni 3s ease-in-out infinite;
}
#doctor_categories .slider {
  margin: 30px auto;
  height: 20vh;
  border: 1px solid red;
  position: relative;
  top: 70%;
}
#doctor_categories .slider .next,
#doctor_categories .slider .prev {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  transition: 0.5s ease-in-out;
}
#doctor_categories .slider .next i,
#doctor_categories .slider .prev i {
  display: none;
  font-size: 40px;
  background-color: #0dbcc0;
  color: white;
  border-radius: 50%;
  padding: 1px;
  transition: 0.3s ease-in-out;
}
#doctor_categories .slider .next i:hover,
#doctor_categories .slider .prev i:hover {
  background-color: white;
  color: #0dbcc0;
  border-radius: 50%;
  padding: 1px;
}
#doctor_categories .slider .next.next,
#doctor_categories .slider .prev.next {
  right: 5px;
}
#doctor_categories .slider .next.prev,
#doctor_categories .slider .prev.prev {
  left: 5px;
}
#doctor_categories .slider:hover {
  cursor: pointer;
}
#doctor_categories .slider:hover .next i,
#doctor_categories .slider:hover .prev i {
  display: block;
}
#doctor_categories .slider:hover .prev {
  left: -2px;
}
#doctor_categories .slider:hover .next {
  right: -2px;
}
#doctor_categories .slider .sliderCategory {
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;
  position: absolute;
}
#doctor_categories .slider .sliderCategory .category {
  width: 17%;
  margin: 0 auto;
  text-align: center;
}
#doctor_categories .slider .sliderCategory .category i {
  font-size: 30px;
  background-color: white;
  border: 10px solid #9ad6fc;
  padding: 25px;
  border-radius: 50%;
  color: #0673b9;
  transition: 0.4s ease-in-out;
}
#doctor_categories .slider .sliderCategory .category i:hover {
  background-color: #0fbec2;
  color: white;
}
#doctor_categories .slider .sliderCategory .category h3 {
  padding-left: 30px;
  text-align: center;
}
#doctor_categories .slider .sliderCategory .category h3 a {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  color: #202647;
  font-size: 20px;
  text-decoration: none;
}

#certificate {
  padding: 50px;
}
#certificate .boxes .imgBox {
  overflow: hidden;
  position: relative;
  height: 100vh;
  width: 50%;
}
#certificate .boxes .imgBox .girl {
  max-width: 100%;
  height: auto;
  position: absolute;
  bottom: 0;
  z-index: 9;
  border-radius: 10px;
}
#certificate .boxes .imgBox .boy {
  right: 0;
  max-width: 100%;
  height: auto;
  position: absolute;
  border-radius: 10px;
  z-index: 6;
}
#certificate .boxes .imgBox .shapeBox .shape1 {
  margin: 10% auto;
  max-width: 100%;
  height: auto;
  position: absolute;
  z-index: 3;
  animation: shape1Ani 3s linear infinite alternate;
}
#certificate .boxes .imgBox .shapeBox .shape2 {
  position: absolute;
  max-width: 100%;
  height: auto;
  right: 0;
  bottom: 0;
  z-index: 3;
  animation: shape2Ani 3s linear infinite alternate;
}
@keyframes shape1Ani {
  0% {
    left: 10px;
  }
  100% {
    left: 30px;
  }
}
@keyframes shape2Ani {
  0% {
    top: 20%;
  }
  100% {
    top: 50%;
  }
}
#certificate .boxes .about-content {
  padding-left: 5%;
  margin-top: 30px;
}
#certificate .boxes .about-content h3 {
  font-size: 35px;
  color: #202647;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}
#certificate .boxes .about-content .animation_line {
  margin: 20px 0;
  position: relative;
  width: 100px;
  background-color: #0fbcc0;
  height: 5px;
  border-radius: 5px;
}
#certificate .boxes .about-content .animation_line .whiteBox {
  position: absolute;
  background-color: white;
  width: 5px;
  height: 100%;
  animation: myAni 3s ease-in-out infinite;
}
#certificate .boxes .about-content p {
  color: #6b6b84;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
}
#certificate .boxes .about-content .ulli ul {
  margin: 0;
  padding: 0;
}
#certificate .boxes .about-content .ulli ul li {
  list-style: none;
  font-size: 16px;
  color: #202647;
  font-weight: 500;
}
#certificate .boxes .about-content .ulli ul li:hover i {
  background-color: #0fbcc0;
  color: white;
}
#certificate .boxes .about-content .ulli ul li i {
  transition: 0.5s ease-in-out;
  background-color: #dafafc;
  color: #7bd6d9;
  padding: 10px;
  margin: 20px 10px 0 0;
  border-radius: 50%;
}
#certificate .boxes .about-content a {
  text-decoration: none;
  background-color: #0fbcc0;
  padding: 18px 35px;
  border-radius: 10px;
  font-weight: 500;
  color: white;
  display: inline-block;
  margin-top: 30px;
  transition: 0.5s ease-in-out;
}
#certificate .boxes .about-content a:hover {
  background-color: #0474b9;
}

@media (max-width: 991px) {
  #certificate {
    padding: 50px;
  }
  #certificate .boxes .imgBox {
    overflow: hidden;
    position: relative;
    height: 100vh;
    width: 100%;
  }
  #certificate .boxes .imgBox .girl {
    max-width: 100%;
    height: auto;
    position: absolute;
    bottom: 0;
    z-index: 9;
  }
  #certificate .boxes .imgBox .boy {
    right: 0;
    max-width: 100%;
    height: auto;
    position: absolute;
    border-radius: 10px;
    z-index: 6;
  }
  #certificate .boxes .imgBox .shapeBox .shape1 {
    top: -20%;
    margin: 10px auto;
    max-width: 100%;
    height: auto;
    position: absolute;
    z-index: 3;
    animation: shape1Ani 3s linear infinite alternate;
  }
  #certificate .boxes .imgBox .shapeBox .shape2 {
    position: absolute;
    max-width: 100%;
    height: auto;
    right: 0;
    bottom: 0;
    z-index: 3;
    animation: shape2Ani 3s linear infinite alternate;
  }
  @keyframes shape1Ani {
    0% {
      left: 0;
    }
    100% {
      left: 85px;
    }
  }
  @keyframes shape2Ani {
    0% {
      top: 10%;
    }
    100% {
      top: 30%;
    }
  }
  #certificate .boxes .about-content {
    padding-left: 5%;
    margin-top: 30px;
  }
  #certificate .boxes .about-content h3 {
    font-size: 35px;
    color: #202647;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
  }
  #certificate .boxes .about-content .animation_line {
    margin: 20px 0;
    position: relative;
    width: 100px;
    background-color: #0fbcc0;
    height: 5px;
    border-radius: 5px;
  }
  #certificate .boxes .about-content .animation_line .whiteBox {
    position: absolute;
    background-color: white;
    width: 5px;
    height: 100%;
    animation: myAni 3s ease-in-out infinite;
  }
  #certificate .boxes .about-content p {
    color: #6b6b84;
    font-weight: 400;
    font-family: "Roboto", sans-serif;
  }
  #certificate .boxes .about-content .ulli ul {
    margin: 0;
    padding: 0;
  }
  #certificate .boxes .about-content .ulli ul li {
    list-style: none;
    font-size: 16px;
    color: #202647;
    font-weight: 500;
  }
  #certificate .boxes .about-content .ulli ul li:hover i {
    background-color: #0fbcc0;
    color: white;
  }
  #certificate .boxes .about-content .ulli ul li i {
    transition: 0.5s ease-in-out;
    background-color: #dafafc;
    color: #7bd6d9;
    padding: 10px;
    margin: 20px 10px 0 0;
    border-radius: 50%;
  }
  #certificate .boxes .about-content a {
    text-decoration: none;
    background-color: #0fbcc0;
    padding: 18px 35px;
    border-radius: 10px;
    font-weight: 500;
    color: white;
    display: inline-block;
    margin-top: 30px;
    transition: 0.5s ease-in-out;
  }
  #certificate .boxes .about-content a:hover {
    background-color: #0474b9;
  }
}
@media (max-width: 524px) {
  #certificate {
    padding: 50px;
  }
  #certificate .boxes .imgBox {
    overflow: hidden;
    position: relative;
    height: 100vh;
    width: 100%;
  }
  #certificate .boxes .imgBox .girl {
    left: 0;
    max-width: 70%;
    height: auto;
    position: absolute;
    bottom: 80px;
    border-radius: 10px;
    z-index: 9;
  }
  #certificate .boxes .imgBox .boy {
    top: 0;
    right: 0;
    max-width: 70%;
    height: auto;
    position: absolute;
    border-radius: 10px;
    z-index: 6;
  }
  #certificate .boxes .imgBox .shapeBox .shape1 {
    display: none;
  }
  #certificate .boxes .imgBox .shapeBox .shape2 {
    display: none;
  }
  @keyframes shape1Ani {
    0% {
      left: 10px;
    }
    100% {
      left: 30px;
    }
  }
  @keyframes shape2Ani {
    0% {
      top: 20%;
    }
    100% {
      top: 50%;
    }
  }
  #certificate .boxes .about-content {
    padding-left: 5%;
    margin-top: 30px;
  }
  #certificate .boxes .about-content h3 {
    font-size: 35px;
    color: #202647;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
  }
  #certificate .boxes .about-content .animation_line {
    margin: 20px 0;
    position: relative;
    width: 100px;
    background-color: #0fbcc0;
    height: 5px;
    border-radius: 5px;
  }
  #certificate .boxes .about-content .animation_line .whiteBox {
    position: absolute;
    background-color: white;
    width: 5px;
    height: 100%;
    animation: myAni 3s ease-in-out infinite;
  }
  #certificate .boxes .about-content p {
    color: #6b6b84;
    font-weight: 400;
    font-family: "Roboto", sans-serif;
  }
  #certificate .boxes .about-content .ulli ul {
    margin: 0;
    padding: 0;
  }
  #certificate .boxes .about-content .ulli ul li {
    list-style: none;
    font-size: 16px;
    color: #202647;
    font-weight: 500;
  }
  #certificate .boxes .about-content .ulli ul li:hover i {
    background-color: #0fbcc0;
    color: white;
  }
  #certificate .boxes .about-content .ulli ul li i {
    transition: 0.5s ease-in-out;
    background-color: #dafafc;
    color: #7bd6d9;
    padding: 10px;
    margin: 20px 10px 0 0;
    border-radius: 50%;
  }
  #certificate .boxes .about-content a {
    text-decoration: none;
    background-color: #0fbcc0;
    padding: 18px 35px;
    border-radius: 10px;
    font-weight: 500;
    color: white;
    display: inline-block;
    margin-top: 30px;
    transition: 0.5s ease-in-out;
  }
  #certificate .boxes .about-content a:hover {
    background-color: #0474b9;
  }
}
#details {
  background-image: url(https://templates.envytheme.com/mediva/default/assets/img/doctor-bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 50%;
  padding: 30px;
  margin-top: 70px;
}
#details .headSection .section-title {
  display: inline-block;
  margin-top: 5%;
  width: 75%;
}
#details .headSection .section-title .animation_line {
  margin: 20px 0;
  position: relative;
  width: 100px;
  background-color: #0fbcc0;
  height: 5px;
  border-radius: 5px;
}
#details .headSection .section-title .animation_line .whiteBox {
  position: absolute;
  background-color: white;
  width: 5px;
  height: 100%;
  animation: myAni 3s ease-in-out infinite;
}
#details .headSection .section-title p {
  width: 750px;
  color: #6b6b84;
}
#details .headSection .section-title h3 {
  font-size: 45px;
  color: #202647;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}
#details .headSection .aButton {
  margin-top: 50%;
}
#details .headSection .aButton a {
  text-decoration: none;
  background-color: #0dbcc0;
  color: white;
  padding: 18px 35px;
  border-radius: 10px;
  font-weight: 500;
  transition: 0.5s ease-in-out;
}
#details .headSection .aButton a:hover {
  background-color: #0673b9;
}
#details .introduction {
  border: 1px solid red;
  position: relative;
}
#details .introduction .imgBox {
  position: absolute;
  width: 100%;
  height: 90%;
  border: 1px solid black;
}
#details .introduction .imgBox a img {
  border: 1px solid blue;
}/*# sourceMappingURL=style.css.map */